
body {
    background-image: url("../images/tiledPika.png");
    background-repeat: repeat;
}
.blur{
   filter: grayscale(40%) blur(40px);
}

.game_container {
    margin: 0 auto;
    width: 65vw;
    overflow:auto;
    border: solid 30px #D9202E;
    border-radius: 5px 70px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.image_container {
    margin: 2rem;
}

.text_container {
    margin: 2rem;
    font-family: 'Roboto', sans-serif;
}

.text_container p {
    padding: 0.7rem;
}

#title-img {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 65vw;
}

#topical_image {
    max-height: 300px;
    padding: 0.7rem;
}

.text_area {
    font-family: 'VT323', monospace;
    font-size: 1.25rem;
    width: 250px;
    height: 80px;
    resize: none;
    color: #ffffff;
    background-color: #1e1e1e;
    padding: 10px;
}

