:root {
    --pokeRed:#D9202E;
    --pokeBlue: #386abb;
    --charcoal: #1e1e1e;
    --offWhite: #f9f9f9;
}

body {
    background-image: url("../images/tiledPika.png");
    background-repeat: repeat;
}
.blur{
   filter: grayscale(40%) blur(40px);
}

.game_container {
    margin: 0 auto;
    width: 65vw;
    overflow:auto;
    border: solid 30px var(--pokeRed);
    border-radius: 5px 70px;
    background-color: var(--offWhite);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem; 
}

.image_container {
    margin: 2rem;
}

.text_container {
    margin: 2rem;
    font-family: 'Roboto', sans-serif;
}

#title-img {
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 65vw;
}

#topical_image {
    max-height: 300px;
    padding: 0.7rem;
}

.text_area {
    font-family: 'VT323', monospace;
    font-size: 1.25rem;
    width: 250px;
    height: 70px;
    resize: none;
    color: var(--offWhite);
    background-color: var(--charcoal);
    padding: 10px;
}

.text_titles {
    font-size: 1.15rem;
    color: var(--charcoal);
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
}

.instructions {
    font-size: 1.25rem;
    color: var(--pokeBlue);
    padding-top: 0.8rem;
}

.counter_text {
    font-size: 1rem;
    color: var(--pokeBlue);
}
